$primaryColor:#286597;
$primaryDarkColor:#0C3D4A;
$primaryDarkerColor:#0C3D4A;
$primaryTextColor:#ffffff;
$secondaryColor: #3587ca;
$background: #F6F8F9;
$panelBackground: #fff;
$white: #ffffff;
$accentColor: #ed4b40;
$contextHighlightColor: #f0faff;
$textColor: #5c5c5c;
$borderColor: #dde2e5;
$darkBorderColor: #ced4da;
$textSecondaryColor:#C0C0C0;
$tableHeaderColor: #f1f1f2;
$lightGrey: #f5f4f4;
$mildSuccessColor: #A5DC86;
$successColor: #01ab5d;
$deleteColor: #ed4b40;
$borderRadius: 10px;
$bigIconSize: 25px;
$veryLargeIconSize: 64px;
$superLargeIconSize: 145px;
$timeTextSize: 100px;
$fontSuperLargeTextSize: 55px;
$fontVeryLargeTextSize: 22px;
$fontLargeTextSize: 20px;
$fontMediumTextSize: 18px;
$buttonHeight: 80px;
$boxShadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.2);