@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/open-sans-v15-latin-regular.woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../../fonts//open-sans-v15-latin-700.woff");
}

* {
  font-family: "Open Sans";
}

body {
  // height: calc(100% - 40px);
  // margin: 20px;
  // overflow: hidden;
}