html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #f2f3f7;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
