// vendors
@use "src/assets/styles/vendors/_primeng";
@use "src/assets/styles/vendors/_toastr";
@use "src/assets/styles/vendors/_keyboard";
// base
@use "src/assets/styles/base/resets";
@use "src/assets/styles/base/base";
// abstracts
@use "src/assets/styles/abstracts/mixins" as mixins;
@use "src/assets/styles/abstracts/variables" as variables;
// components
@use "src/assets/styles/components/_buttons";
@use "src/assets/styles/components/_confirmdialog";
@use "src/assets/styles/components/p_dataview";


// Base style overrides
h2 {
  font-size: variables.$fontVeryLargeTextSize;
}
h3 {
  font-size: variables.$fontLargeTextSize;
}

// Sets max height of tabset tab, makes it scrollable
.tab-container,
.content {
  max-height: 575px;
  overflow: auto;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.tab-group {
  width: 90%;
  margin: auto;
}

.list {
  margin-bottom: 0.5em;
  background-color: #f5f5f5;
  border: 1px solid variables.$secondaryColor;
  border-radius: 10px;
}

.list-item-small {
  @extend .list;
  padding: 0.75em;
}

.list-item-large {
  @extend .list;
  padding: 2em 0.75em;
}

.nothing-message {
  width: 70%;
  text-align: center;
  padding: 1em;
  margin: 1em auto;
  border-radius: 10px;
  box-shadow: 0px 2px 3px #8f8f8f;
}

// Scrollbar Styling
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbdbdb;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: variables.$primaryColor;
  border-radius: 20px;
}

.svg-base {
  stroke-width: 3px;
  fill: none;
}

#success path,
#success circle {
  @extend .svg-base;
  stroke: #00da74;
}

#success path:nth-child(1) {
  stroke-dasharray: 32.5px;
  stroke-dashoffset: 32.5px;
  animation: line-anim 1s ease forwards;
}

#success path:nth-child(2) {
  stroke-dasharray: 73px;
  stroke-dashoffset: 73px;
  animation: line-anim 2s ease forwards;
}

#success circle,
#failure circle {
  transform: rotate(-90deg);
  transform-origin: center;
  stroke-linecap: round;
  stroke-dasharray: 251px;
  stroke-dashoffset: 251px;
  animation: line-anim 1.1s ease-out forwards;
}

#failure path,
#failure circle {
  @extend .svg-base;
  stroke: #ff4646;
}

#failure path:nth-child(1),
#failure path:nth-child(2) {
  stroke-dasharray: 57px;
  stroke-dashoffset: 57px;
  animation: line-anim 1.5s ease forwards;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
  transition: background 200ms ease-in-out;
}
.color-primary {
  color: variables.$primaryColor;
}
.color-danger {
  color: variables.$deleteColor;
}
.color-success {
  color: variables.$successColor;
}
.color-accent {
  color: variables.$accentColor
}
.color-text {
  color: variables.$textColor;
}
.no-data {
  color: variables.$textColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-style: italic;
  font-size: variables.$fontMediumTextSize;
  padding: 10px;
}
.font-bold {
  font-weight: bold;
}
.font-semi-bold {
  font-weight: 600;
}
.font-normal {
  font-weight: normal;
}
.text-center {
  text-align: center;
}
.empty-loader-container {
  background: white;
  display: flex;
  justify-content: center;
}
.large-header-text {
  font-size: variables.$timeTextSize;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
}
.flex-center {
  display: flex;
  justify-content: center;
}