.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: #c4c4c466;
  z-index: 998;
}

.card {
  position: relative;
  top: 10em;
  z-index: 999;
  width: 500px;
  height: inherit;
  margin: auto;
  animation: scaleUp 0.15s;

  p-card {
    p-header {
      text-align: center;

      .symbol {
        border-radius: 100%;
        width: 75px;
        height: 75px;
        margin: auto auto 1em auto;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;

        i {
          color: #fff;
          font-size: 3em;
        }
      }

      .success {
        background-color: #01ab5d;
      }

      .failure {
        background-color: #f44141;
      }
    }

    .info {
      margin-bottom: 4em;

      .info-line {
        text-align: left;
        display: flex;
        margin-bottom: 0.75em;

        h2:nth-child(1) {
          color: #bdbdbd;
          margin-right: 0.5em;
        }
      }

      .err {
        margin-bottom: 2em;
      }
    }

    p-footer {
      button {
        margin-bottom: 1em;
      }
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
