app-bottom-button {
  .outer {
    width: 85%;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3em;
  }

  button {
    width: 100%;
    height: 4em;
  }
}
