app-header {
  .header-container {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 0.5em;

    .logo {
      width: 62px;
      margin-right: 0.75em;
    }

    .header-info {
      h4 {
        color: #bdbdbd;
      }
    }

    .icon {
      width: 74px;
      height: 63.23px;

      i {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-65%, -50%);
        font-size: 2.4em;
      }
    }
  }
}
