app-loading-spinner {
  .spinner-container {
    display: flex;
    justify-content: center;

    svg {
      animation: 2s linear infinite svg-animation;

      circle {
        stroke: #125f75;
        stroke-width: 7;
        stroke-dasharray: 201px;
        stroke-dashoffset: 200px;
        stroke-linecap: round;
        transform-origin: 50% 50%;
        animation: 1.4s ease-in-out infinite both offset-animation;
      }
    }
  }

  @keyframes offset-animation {
    0%,
    25% {
      stroke-dashoffset: 195;
      transform: rotate(0);
    }

    50%,
    75% {
      stroke-dashoffset: 37.5;
      transform: rotate(45deg);
    }

    100% {
      stroke-dashoffset: 195;
      transform: rotate(360deg);
    }
  }

  @keyframes svg-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
}
