app-quick-info-listing {
  .list-container {
    margin: 1em auto;

    .list-item {
      margin-bottom: 1em;
      text-align: center;

      i {
        font-size: 2.25em;
        margin-bottom: 0.25em;
      }
    }
  }
}
