app-sick-late-listing {
  .data-table {
    margin: auto 2em;
    border-radius: 10px;
    background-color: #f2f3f7;

    .data-row {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 2px solid #fff;

      &:nth-last-child(1) {
        border-bottom: none;
      }
    }
  }

  .summary {
    height: 50px;
    border-radius: 10px;
    display: flex;
    margin: 1em 2em;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    background-color: #125f75;
  }
}
