.p-accordion-header-link {
  background-color: #f2f3f7 !important;
}

.p-accordion
  p-accordiontab:first-child
  .p-accordion-header
  .p-accordion-header-link {
  border-radius: 8px 8px 0 0 !important;
}

.p-accordion
  p-accordiontab:last-child
  .p-accordion-header
  .p-accordion-header-link {
  border-radius: 0 0 8px 8px !important;
}
