@use "src/assets/styles/abstracts/variables" as variables;

.p-button {
  background-color: variables.$primaryColor;
  border-radius: variables.$borderRadius;
  border: none !important;
  padding: 1.2rem;
  font-size: variables.$fontLargeTextSize;
  height: variables.$buttonHeight;
  text-align: center;
  justify-content: center;
  &:enabled:hover{
    background: variables.$primaryColor;
  }
}
.p-button:not(.p-button-rounded) {
  min-width: 130px !important;
}
.p-button-danger {
  background-color: variables.$deleteColor;
}
.p-button-label {
  color: #fff;
}
.p-button-small {
  height: 25px;
}
.p-button-icon {
  font-size: variables.$fontLargeTextSize;
}
.p-button-outline-primary {
  color: variables.$primaryColor;
  background: white;
  border: 2px solid variables.$primaryColor !important;
}
.p-button-outline-danger {
  color: variables.$deleteColor;
  background: white;
  border: 2px solid variables.$deleteColor !important;
}