.p-dialog {
  width: 80%;
  background-color: #fff;

  .p-dialog-header {
    padding: 0;
  }

  .p-dialog-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .p-dialog-footer {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}
