@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: $secondaryColor;
  }
  40% {
      stroke: $primaryColor;
  }
  66% {
      stroke: $secondaryColor;
  }
  80%,
  90% {
      stroke: $primaryColor;
  }
}