@use "src/assets/styles/abstracts/variables" as variables;

.p-paginator-pages {
  .p-paginator-page {
    border: 2px solid variables.$borderColor;
    border-radius: 50%;
    background: white;
  }
  .p-highlight {
    background-color: variables.$primaryColor;
    color: white;
  }
}