p-panel {
  background: #ffffff;
  width: 100%;
  margin: 5% 0;
  width: 80%;
  height: inherit;
  .ui-panel {
    // height: calc(100% - #{$pPanelTitleBarHeight});
    .ui-panel-titlebar {
      background: #ffffff;
      border: none;
      border-bottom: 1px solid $borderColor;
      // height: $pPanelTitleBarHeight;
      p-header {
        padding: 15px;
        display: flex;
        background: #ffffff;
        p {
          margin-left: 10px;
          font-size: 0.8em;
          color: $textSecondaryColor;
        }
        .fas {
          font-size: 2em;
          color: $secondaryColor;
          margin-top: 5px;
        }
        h3 {
          margin-top: 5px;
          margin-left: 10px;
        }
      }
    }
  }
  .ui-panel .ui-panel-content {
    border: none;
    border-bottom: 1px solid $borderColor;
    padding: 0.5rem;
    .right-wrapper {
      padding: 0.5rem;
      height: 100%;
    }
  }

  .ui-panel-content-wrapper {
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .ui-panel-content {
      height: 85%;
    }
  }
  .ui-panel-footer {
    height: 25%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none !important;
    
    p-button {
      float: right;
      margin-right: 10px;
      margin-top: 15px;
      .ui-button {
        cursor: pointer;
        border-radius: 4px;
        height: 40px;
        font-weight: 700;
        color: $white !important;
      }
    }
  }
}