// .p-tabview {
//   .p-highlight {
//     .p-tabview-title {
//       color: #fff;
//       background-color: $primaryColor;
//       font-weight: 550;
//     }
//   }

//   .p-tabview-title {
//     color: #000;
//     background-color: #f5f5f5;
//     padding: 0.75em;
//     margin-right: 2px;
//     border-radius: 7px 7px 0 0;
//     border: 1px solid #bdbdbd;
//     border-bottom: none;
//   }

//   .p-tabview-nav {
//     .p-tabview-nav-link:focus {
//       outline: none !important;
//     }
//   }
// }

// .p-tabview-panels {
//   padding: 1em;
//   border: 1px solid #bdbdbd;
//   border-radius: 0 0 10px 10px;
// }

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  color: $primaryColor;
  border-color: $primaryColor;

  &:focus {
    outline: none;
  }
}
