// p-table {
//   table {
//     border-spacing: 0px 10px;
//     thead {
//       text-align: left;
//       th {
//         border: none !important;
//         border-radius: 10px !important;
//       }
//     }
//     tbody {
//       tr {
//         td {
//           border: none !important;
//           .tableImage {
//             img {
//               border-radius: 50%;
//               width: 50px;
//             }
//           }
//           .actions {
//             display: flex;
//             .divider {
//               width: 2px;
//               background-color: $borderColor;
//               margin-right: 1rem;
//               margin-left: 1rem;
//             }
//             .fas {
//               color: $secondaryColor;
//               font-size: 1.5rem !important;
//               cursor: pointer;
//               transition: 0.3s;
//             }
//           }
//         }
//         td:first-child {
//           border-left-style: solid;
//           border-top-left-radius: 10px; 
//           border-bottom-left-radius: 10px;
//         }
//         td:last-child {
//             border-right-style: solid;
//             border-bottom-right-radius: 10px; 
//             border-top-right-radius: 10px; 
//         }
//       }
//       tr:hover {
//         background-color: $secondaryColor !important;
//         & td {
//           color: #fff;
//         }
//         & td {
//           & .actions {
//             & .fas {
//               color: #fff !important;
//               &:hover{
//                 color: $primaryDarkColor !important;
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }   
// .ui-table table {
//   border-collapse: separate;
// }

// body .ui-paginator {
//   border: none;
// }