body .ui-tree {
  border: none;
  width: 100%;

  .ui-tree-container {
    overflow: inherit;
  }

  .ui-tree-container .ui-treenode .ui-treenode-content {
    &:hover {
      border: 1px solid transparent;
      .actions-wrapper {
        visibility: visible;
      }
    }

    &:focus {
      box-shadow: none;
    }

    .treeview-content {
      display: flex;
    }

    .actions-wrapper {
      visibility: hidden;
      .actions {
        margin-left: 1rem;
        display: flex;
        i {
          margin-top: 1px;
          font-size: 18px;
          color: $textSecondaryColor;
          transition: ease 0.2s;
          &:hover {
            color: $accentColor;
          }
        }
        .divider {
          transition: ease 0.2s;
          width: 1px;
          background-color: $textSecondaryColor;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
}
